@media print {
  .no-print,
  .d-print-none {
    display: none !important;
  }

  .d-print-block {
    display: block !important;
  }

  body {
    direction: rtl;
    padding: 0;
    margin: 0;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }
}
